<div class="country-card">
    <article class="card">

        <div class="card__content">
            <h2 class="card__name">{{name}}</h2>
            <div class="card__information">
                <p class="card__capital">
                    Capital: {{capital}}
                </p>

                <p class="card__population">Population: {{population}}</p>
                <p class="card__languages">Languages:</p>
                <ul class="languages-list">
                    {{#each languages}}
                    <li class="languages-list__item">{{this.name}}</li>
                    {{/each}}
                </ul>

            </div>
        </div>
        <img src="{{flag}}" alt="{{name}} flag" class="card__image" />

    </article>
</div>